{% extends "personal/header.html" %}
{% block content %}
{% load staticfiles %}

<div class="blog">
				<div class="blog-left">
				{% for post in object_list %}
				<div class="blog-left-grid">
						<div class="blog-left-grid-left">
							<h3><a href="{{post.get_absolute_url}}"	>{{post.title}}</a></h3>
							<p><span>by : {{post.author}}</span> | {{post.date}} </p>
						</div>
						<div class="blog-left-grid-right">
							<a href="{{post.get_absolute_url}}" class="hvr-bounce-to-bottom non">20 Comments</a>
						</div>
						<div class="clearfix"> </div>
						
						{% if post.image %}
						<img src="{{ post.image.url }}" alt=" " class="img-responsive" />
						{% else %}
						<img src="" alt="" alt=" "/>
						{% endif %}
						<div class="distracted">
						<p class="well" style="white-space: nowrap; text-overflow: ellipsis; overflow: hidden;
                                    width: 100%;">{{post.body}} </p>
                                    </div>
						<div class="rd-mre">
							<a href="{{post.get_absolute_url}}" class="hvr-bounce-to-bottom quod">Read More</a>
						</div>
					</div>
					<hr>
					{% endfor %}
					<nav style="float: right;">
						 <ul class="pagination pagination-sm">
							<li>
							{% if object_list.has_previous %}
					            <a href="?page={{ object_list.previous_page_number }}"><i class="fa fa-angle-left"></i>«</a>
					        {% endif %}
					        </li>

							{% if object_list.has_previous %}
								<li><a href="?page={{ object_list.previous_page_number }}">{{ object_list.previous_page_number }}</a></li>
							{% endif %}

					        <li><a href="?page={{ object_list.number }}">{{ object_list.number }}</a></li>
					        
					        {% if object_list.has_next %}
								<li><a href="?page={{ object_list.next_page_number }}">{{ object_list.next_page_number }}</a></li>
							{% endif %}
							
							<li> <!--class="disabled"-->
							{% if object_list.has_next %}
					            <a href="?page={{ object_list.next_page_number }}"><i class="fa fa-angle-right"></i>»</a>
					        {% endif %}
					        </li>

						</ul>
					</nav>
					
					        <span class="current">
					            Page {{ object_list.number }} of {{ object_list.paginator.num_pages }}.
					        </span>

					
				</div>
				<div class="blog-right">
					<div class="sap_tabs">	
					<div id="horizontalTab" style="display: block; width: 100%; margin: 0px;">
						  <ul class="resp-tabs-list">
							  <li class="resp-tab-item grid1" aria-controls="tab_item-0" role="tab"><span>Popular</span></li>
							  <li class="resp-tab-item grid2" aria-controls="tab_item-1" role="tab"><span>Recent</span></li>
							  <li class="resp-tab-item grid3" aria-controls="tab_item-2" role="tab"><span>Comments</span></li>
							  <div class="clear"></div>
						  </ul>				  	 
							<div class="resp-tabs-container">
								<div class="tab-1 resp-tab-content" aria-labelledby="tab_item-0">
									<div class="facts">
									  <div class="tab_list">
										<a href="{% static 'personal/images/7-.jpg' %}" class="b-link-stripe b-animate-go swipebox"  title="">
											<img src="{% static 'personal/images/7.jpg' %}" alt=" " class="img-responsive" />
										</a>
									  </div>
									  <div class="tab_list1">
										<a href="#">excepturi sint occaecati</a>
										<p>June 30,2015 <span>Nam libero tempore, cum soluta nobis.</span></p>
									  </div>
									  <div class="clearfix"> </div>
									</div>
									<div class="facts">
									   <div class="tab_list">
										<a href="{% static 'personal/images/8-.jpg' %}" class="b-link-stripe b-animate-go   swipebox"  title="">
											<img src="{% static 'personal/images/8.jpg' %}" alt=" " class="img-responsive" />
										</a>
									  </div>
									  <div class="tab_list1">
										<a href="#">excepturi sint occaecati</a>
										<p>June 30,2015<span>Nam libero tempore, cum soluta nobis.</span></p>
									  </div>
									  <div class="clearfix"> </div>
									</div>
									<div class="facts">
									   <div class="tab_list">
										<a href="{% static 'personal/images/9-.jpg' %}" class="b-link-stripe b-animate-go   swipebox"  title="">
											<img src="{% static 'personal/images/9.jpg' %}" alt=" " class="img-responsive" />
										</a>
									  </div>
									  <div class="tab_list1">
										<a href="#">excepturi sint occaecati</a>
										<p>June 30,2015<span>Nam libero tempore, cum soluta nobis.</span></p>
									  </div>
									  <div class="clearfix"> </div>
									</div>
									<div class="facts">
									   <div class="tab_list">
										<a href="{% static 'personal/images/10-.jpg' %}" class="b-link-stripe b-animate-go   swipebox"  title="">
											<img src="{% static 'personal/images/10.jpg' %}" alt=" " class="img-responsive" />
										</a>
									  </div>
									  <div class="tab_list1">
										<a href="#">excepturi sint occaecati</a>
										<p>June 30,2015<span>Nam libero tempore, cum soluta nobis.</span></p>
									  </div>
									  <div class="clearfix"> </div>
									</div>
								</div>
								<div class="tab-1 resp-tab-content" aria-labelledby="tab_item-1">
									<div class="facts">
									  <div class="tab_list">
										<a href="{% static 'personal/images/8-.jpg' %}" class="b-link-stripe b-animate-go   swipebox"  title="">
											<img src="{% static 'personal/images/8.jpg' %}" alt=" " class="img-responsive" />
										</a>
									  </div>
									  <div class="tab_list1">
										<a href="#">excepturi sint occaecati</a>
										<p>June 30,2015<span>Nam libero tempore, cum soluta nobis.</span></p>
									  </div>
									  <div class="clearfix"> </div>
									</div>
									<div class="facts">
									   <div class="tab_list">
										<a href="{% static 'personal/images/9-.jpg' %}" class="b-link-stripe b-animate-go   swipebox"  title="">
											<img src="{% static 'personal/images/9.jpg' %}" alt=" " class="img-responsive" />
										</a>
									  </div>
									  <div class="tab_list1">
										<a href="#">excepturi sint occaecati</a>
										<p>June 30,2015<span>Nam libero tempore, cum soluta nobis.</span></p>
									  </div>
									  <div class="clearfix"> </div>
									</div>
									<div class="facts">
									   <div class="tab_list">
										<a href="{% static 'personal/images/10-.jpg' %}" class="b-link-stripe b-animate-go   swipebox"  title="">
											<img src="{% static 'personal/images/10.jpg' %}" alt=" " class="img-responsive" />
										</a>
									  </div>
									  <div class="tab_list1">
										<a href="#">excepturi sint occaecati</a>
										<p>June 30,2015<span>Nam libero tempore, cum soluta nobis.</span></p>
									  </div>
									  <div class="clearfix"> </div>
									</div>
									<div class="facts">
									   <div class="tab_list">
										<a href="{% static 'personal/images/7-.jpg' %}" class="b-link-stripe b-animate-go   swipebox"  title="">
											<img src="{% static 'personal/images/7.jpg' %}" alt=" " class="img-responsive" />
										</a>
									  </div>
									  <div class="tab_list1">
										<a href="#">excepturi sint occaecati</a>
										<p>June 30,2015<span>Nam libero tempore, cum soluta nobis.</span></p>
									  </div>
									  <div class="clearfix"> </div>
									</div>
								</div>
								<div class="tab-1 resp-tab-content" aria-labelledby="tab_item-2">
									<div class="facts">
									  <div class="tab_list">
										<a href="{% static 'personal/images/9-.jpg' %}" class="b-link-stripe b-animate-go   swipebox"  title="">
											<img src="{% static 'personal/images/9.jpg' %}" alt=" " class="img-responsive" />
										</a>
									  </div>
									  <div class="tab_list1">
										<a href="#">excepturi sint occaecati</a>
										<p>June 30,2015<span>Nam libero tempore, cum soluta nobis.</span></p>
									  </div>
									  <div class="clearfix"> </div>
									</div>
									<div class="facts">
									   <div class="tab_list">
										<a href="{% static 'personal/images/10-.jpg' %}" class="b-link-stripe b-animate-go   swipebox"  title="">
											<img src="{% static 'personal/images/10.jpg' %}" alt=" " class="img-responsive" />
										</a>
									  </div>
									  <div class="tab_list1">
										<a href="#">excepturi sint occaecati</a>
										<p>June 30,2015<span>Nam libero tempore, cum soluta nobis.</span></p>
									  </div>
									  <div class="clearfix"> </div>
									</div>
									<div class="facts">
									   <div class="tab_list">
										<a href="{% static 'personal/images/7-.jpg' %}" class="b-link-stripe b-animate-go   swipebox"  title="">
											<img src="{% static 'personal/images/7.jpg' %}" alt=" " class="img-responsive" />
										</a>
									  </div>
									  <div class="tab_list1">
										<a href="#">excepturi sint occaecati</a>
										<p>June 30,2015<span>Nam libero tempore, cum soluta nobis.</span></p>
									  </div>
									  <div class="clearfix"> </div>
									</div>
									<div class="facts">
									   <div class="tab_list">
										<a href="{% static 'personal/images/8-.jpg' %}" class="b-link-stripe b-animate-go   swipebox"  title="">
											<img src="{% static 'personal/images/8.jpg' %}" alt=" " class="img-responsive" />
										</a>
									  </div>
									  <div class="tab_list1">
										<a href="#">excepturi sint occaecati</a>
										<p>June 30,2015<span>Nam libero tempore, cum soluta nobis.</span></p>
									  </div>
									  <div class="clearfix"> </div>
									</div>
								</div>
							</div>
						 <script src="js/easyResponsiveTabs.js" type="text/javascript"></script>
							<script type="text/javascript">
								$(document).ready(function () {
									$('#horizontalTab').easyResponsiveTabs({
										type: 'default', //Types: default, vertical, accordion           
										width: 'auto', //auto or any width like 600px
										fit: true   // 100% fit in a container
									});
								});
							   </script>
						<link rel="stylesheet" href="css/swipebox.css">
						<script src="js/jquery.swipebox.min.js"></script> 
							<script type="text/javascript">
								jQuery(function($) {
									$(".swipebox").swipebox();
								});
							</script>
					</div>
					</div>
					
					<div class="four-fig">
						<div class="four-fig1">
							<a href="{% static 'personal/images/11-.jpg' %}" class="b-link-stripe b-animate-go   swipebox"  title="">
								<img src="{% static 'personal/images/11.jpg' %}" class="img-responsive" alt=" " />
							</a>
						</div>
						<div class="four-fig1">
							<a href="{% static 'personal/images/14-.jpg' %}" class="b-link-stripe b-animate-go   swipebox"  title="">
								<img src="{% static 'personal/images/14.jpg' %}" class="img-responsive" alt=" " />
							</a>
						</div>
						<div class="four-fig1">
							<a href="{% static 'personal/images/10-.jpg' %}" class="b-link-stripe b-animate-go   swipebox"  title="">
								<img src="{% static 'personal/images/21.jpg' %}" class="img-responsive" alt=" " />
							</a>
						</div>
						<div class="four-fig1">
							<a href="{% static 'personal/images/8-.jpg' %}" class="b-link-stripe b-animate-go   swipebox"  title="">
								<img src="{% static 'personal/images/22.jpg' %}" class="img-responsive" alt=" " />
							</a>
						</div>
						<div class="clearfix"> </div>
					</div>
					<div class="pgs">
						<h3>Recent Posts</h3>
						<ul>{% for new in object_list|slice:":5" %}
							<li><a href="/blog/{{new.id}}">{{new.title}}</a></li>
							{% endfor %}
						</ul>
					</div>

					{% block divnewslettersignupbutton %}

					<div class="newsletter">
						<form action="/newsletter/sign_up">
								<button class="btn btn-default" style="background-color:#2591ff; color: white " type="submit" >Subscribe</button>

						</form>
						<!--form action="/newsletter/unsubscribe">
								<button class="btn btn-default" style="background-color:#2591ff; color: white " type="submit" >unsubscribe</button>
								
						</form-->
					</div>

					{% endblock %}
				</div>
				<div class="clearfix"> </div>
			</div>


	

	
	
{% endblock %}




